<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
   

    <h2> Blogs </h2>

    <ul class="blogs">
      <!-- Loop through quotes -->
      <% for(var i = 0; i < blogs.length; i++) {%>
        <li class="blog">
        
          <!-- Output name from the iterated quote object -->
          <span><%= blogs[i].title %></span>:
          <!-- Output quote from the iterated quote object -->
          <span><%= blogs[i].description %></span>
          <span><%= blogs[i].image %></span>
        </li>
      <% } %>
    </ul>
    

</body>
</html>